<template>
<div class="achievements-box b14 container">
  <!-- v-bind:style="[achievements.nbArtworkCreated != 0 ? 'order:' : '']" -->
  <div
  v-bind:style="[achievements.nbArtworkCreated != 0 ? {order:this.nbOfAchievements} : '']"
  v-bind:class="[achievements.nbArtworkCreated != 0 ? 'visible' : '']"
  class="achievements" name="nbArtworkCreated">
    You created {{achievements.nbArtworkCreated}} {{ 'artwork' | pluralize(achievements.nbArtworkCreated) }}
  </div>
  <div
   v-bind:class="[achievements.nbArtworkSold != 0 ? 'visible' : '']"
  class="achievements" name="nbArtworkSold">
    You sold {{achievements.nbArtworkSold}} {{ 'artwork' | pluralize(achievements.nbArtworkSold) }}
  </div>
  <div
   v-bind:class="[achievements.nbArtworkedShared != 0 ? 'visible' : '']"
  class="achievements" name="totalArtworkShared">
    You shared {{achievements.nbArtworkedShared}} {{ 'artwork' | pluralize(achievements.nbArtworkedShared) }}
  </div>
  <div  v-bind:class="[achievements.nbExhibitionVisited != 0 ? 'visible' : '']" class="achievements" name="nbExhibitionVisited">
    You visited {{achievements.nbExhibitionVisited}} {{ 'exhibition' | pluralize(achievements.nbExhibitionVisited) }}
  </div>
  <div  v-bind:class="[achievements.nbArtworkDocumented != 0 ? 'visible' : '']" class="achievements" name="nbArtworkDocumented">
    You documented {{achievements.nbArtworkDocumented}} {{ 'artwork' | pluralize(achievements.nbArtworkDocumented) }}
  </div>
  <div v-bind:class="[achievements.nbArtworkDestroyed != 0 ? 'visible' : '']" class="achievements" name="nbArtworkDestroyed">
    You destroyed {{achievements.nbArtworkDestroyed}} {{ 'artwork' | pluralize(achievements.nbArtworkDestroyed) }}
  </div>
  <div v-bind:class="[achievements.nbArtworkArchived != 0 ? 'visible' : '']" class="achievements" name="nbArtworkArchived">
    You archived {{achievements.nbArtworkArchived}} {{ 'artwork' | pluralize(achievements.nbArtworkArchived) }}
  </div>
  <div v-bind:class="[achievements.nbOfSchoolsWereYouAreTeaching != 0 ? 'visible' : '']" class="achievements" name="nbOfSchoolsWereYouAreTeaching">
    You are teaching in {{achievements.nbOfSchoolsWereYouAreTeaching}} {{ 'schools' | pluralize(achievements.nbOfSchoolsWereYouAreTeaching) }}
  </div>
  <div v-bind:class="[achievements.nbOfExhibition != 0 ? 'visible' : '']" class="achievements" name="nbOfExhibition">
    You made {{achievements.nbOfExhibition}} {{ 'exhibition' | pluralize(achievements.nbOfExhibition) }}
  </div>
  <div v-bind:class="[achievements.nbOfContacts != 0 ? 'visible' : '']" class="achievements" name="contact">
    You made {{achievements.nbOfContacts}} {{ 'contacts' | pluralize(achievements.nbOfContacts) }}
  </div>
  <div v-bind:class="[achievements.nbOfResidencyApplication != 0 ? 'visible' : '']" class="achievements" name="contact">
    You applied for {{achievements.nbOfResidencyApplication}} {{ 'residency' | pluralize(achievements.nbOfResidencyApplication) }}
  </div>
  <div v-bind:class="[achievements.nbOfResidencyGranted != 0 ? 'visible' : '']" class="achievements" name="contact">
    You got granted {{achievements.nbOfResidencyGranted}} {{ 'residency' | pluralize(achievements.nbOfResidencyGranted) }}
  </div>

  <div v-bind:class="[achievements.portfolio != 0 ? 'visible' : '']" class="achievements" name="contact">
    You have a portfolio
  </div>


</div>
</template>



<script>
export default {
  name: "achievement",
  components: {},
  props: ['achievements','nbOfAchievements'],
  data: function() {
    return {
    }
  },
  methods: {

  }
}
</script>


<style scoped>
.achievements-box{
  display: flex;
  align-content: flex-start
}
.achievements {
  display: none;
  font-size: 0.8em;
}

.visible {
  display: block;
}

</style>
