<template>

<div class="action-box container b14">
  <button
    class="small"
    name="visit exhibition"
    v-bind:class="[achievements.nbArtworkedShared > 0 ? '' : 'hide']"
    v-on:click="visitExhibition()">
    Go visit an exhibition
  </button>


  <button
    class="small"
    name="networking"
    v-bind:class="[achievements.nbExhibitionVisited > 1 ? '' : 'hide']"
    v-on:click="networking()">
    Go networking
  </button>


  <button
  class="small"
  name="document"
  v-bind:class="[achievements.nbOfContacts > 0 ? '' : 'hide']"
  v-on:click="document()">
    Document your work
  </button>
  <button class="small" name="organizeExhibition" v-bind:class="{ hide: actionProperties.exhibition.locked}" v-on:click="organizeExhibition()">
    Organize exhibition
  </button>




  <button
    class="small"
    name="Portfolio"
    v-bind:class="{hide: achievements.nbArtworkDocumented < 1, hide1 : achievements.portfolio > 0}"
    v-on:click="buildPortfolio()">
    Make portfolio
  </button>



  <button
    class="small"
    name="Apply for residency"
    v-bind:class="{hide: achievements.portfolio < 1, hide1 : achievements.nbArtworkSold < 5}"
    v-on:click="applyForResidency()">
    Apply for residency
  </button>

  <button
  class="small"
  name="teaching"
  v-bind:class="[achievements.nbOfResidencyGranted > 0 ? '' : 'hide']"
  v-on:click="teaching()">
    Teaching
  </button>

</div>
</template>


<script>
export default {
  name: "actions",
  components: {},
  props: ['ressources', 'profile','artworkList', 'gameState', 'interval', 'achievements', 'actionProperties'],
  data: function() {
    return {
    }
  },
  methods: {
    visitExhibition(){
      if (this.checkIfPossible(this.actionProperties.visitExhibition.loss)) {
        this.updateRessources(this.actionProperties.visitExhibition.loss);
        this.updateRessources(this.actionProperties.visitExhibition.gain);
        this.achievements.nbExhibitionVisited++;
        this.$emit('notify', 'You saw some nice stuff and some not-so-nice stuff. You are now inspired to create more');
      }

    },
    buildPortfolio(){
      if (this.checkIfPossible(this.actionProperties.portfolio.loss)) {
        this.updateRessources(this.actionProperties.portfolio.loss);
        this.updateRessources(this.actionProperties.portfolio.gain);
        this.achievements.portfolio++;

        this.$emit('notify', 'That was a lot of work, but it\'s worth it ! Now you have a nice portfolio that you send around');
      }

    },
    applyForResidency(){
      if (this.checkIfPossible(this.actionProperties.residency.loss)) {
        this.updateRessources(this.actionProperties.residency.loss);
        this.achievements.nbOfResidencyApplication++;
        this.$emit('notify', 'Fingers crossed 🤞');

        let currentTimout;
        let currentIndex = this.actionProperties.residency.applicationObjArray.length;
        let that = this;

        // Same as for teaching, local timout instead of using global tick to deal easily
        // with multiple

        setTimeout(function () {
          let probabilitySuccess = that.residencyAlgorithm();
          console.log("probabilitySuccess: " + probabilitySuccess*100 + " %");

          let value = Math.random();
          if (value < probabilitySuccess) {
            that.achievements.nbOfResidencyGranted++;
            that.updateRessources(that.actionProperties.residency.gain);
            that.$emit('notify', 'Success ! Your residency got granted ! ');
          } else {
            that.$emit('notify', 'Sorry, your residency application got denied. Maybe next time ?');
          }

        }, that.interval * that.actionProperties.residency.timeBeforeAnswer);

        that.actionProperties.residency.applicationObjArray.push(currentTimout);


      }

    },
    residencyAlgorithm(){
      let probabilitySuccess;
      let that = this;
      // max probability success is 95.5. 47.5% is determined by level of privilege,
      // 30% by popularity, 18% by nb of contacts. It would be interesting
      // to change this algorithm as the game advances -> reduces the priviledge part
      let privilegePart = map_range(that.profile.levelOfPrivilege, 0, 1, 0, 47.5);
      let popularityPart = map_range(that.ressources.popularity, 0, 350, 0, 30);
      let contactPart = map_range(that.achievements.nbOfContacts, 0, 5, 0, 18);

      probabilitySuccess = privilegePart + popularityPart + contactPart;

      return map_range(probabilitySuccess, 0, 100, 0,1)
      function map_range(value, low1, high1, low2, high2) {
          if (value > high1) {
            value = high1;
          }
          return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
      }

    },
    networking() {
      if (this.checkIfPossible(this.actionProperties.networking.loss)) {
        this.updateRessources(this.actionProperties.networking.loss);
        this.updateRessources(this.actionProperties.networking.gain);
        this.achievements.nbOfContacts += this.getRandomInt(0, 4);
        this.$emit('notify', 'You act like having fun in a vernissage…')
      }
    },
    organizeExhibition() {
      if (this.artworkList.length > 0) {
        if (this.checkIfPossible(this.actionProperties.exhibition.loss)) {
          this.updateRessources(this.actionProperties.exhibition.loss);
          this.updateRessources(this.actionProperties.exhibition.gain);
          this.achievements.nbOfExhibition++;
          this.$emit('notify', 'Cool. Now what ?')

        }
      } else {
        this.$emit('notify', 'No artwork! You can’t exhibite dust, can you?')
      }
    },
    document() {
      if (this.artworkList.length > 0) {
        if (this.checkIfPossible(this.actionProperties.document.loss)) {
          this.updateRessources(this.actionProperties.document.loss);
          this.updateRessources(this.actionProperties.document.gain);
          this.achievements.nbArtworkDocumented++;
          this.$emit('notify', 'You updated your favorite social network profile.')
        }
      } else {
        this.$emit('notify', 'No artwork! You can’t document dust, can you?')
      }
    },

    teaching() {
      if (this.checkIfPossible(this.actionProperties.teaching.loss)) {
        this.updateRessources(this.actionProperties.teaching.loss);
        this.updateRessources(this.actionProperties.teaching.gain);
        this.achievements.nbOfSchoolsWereYouAreTeaching++;
        this.$emit('notify', 'You are now a teacher. Hopefully your students will be nice')

        let currentInterval;
        let currentIndex = this.actionProperties.teaching.intervalObjArray.length;
        let that = this;
        // I chose to implement teaching with a local interval instead of the global tick
        // besauce you can teach at several school at the same time, and having a local
        // array is easier.
        currentInterval = setInterval(function () {
          if (!that.gameState.paused) {
            if (that.checkIfPossible(that.actionProperties.teaching.loss)) {
              that.updateRessources(that.actionProperties.teaching.loss);
              that.updateRessources(that.actionProperties.teaching.gain);
              that.$emit('notify', 'School run')
            } else {
              that.achievements.nbOfSchoolsWereYouAreTeaching--;
              clearInterval(that.actionProperties.teaching.intervalObjArray[currentIndex]);
              that.$emit('notify', 'No more teaching for you, you need to rest')
            }
          }
        }, this.interval * this.actionProperties.teaching.interval);
        this.actionProperties.teaching.intervalObjArray.push(currentInterval);
      }
    },

    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min;
    },

    checkIfPossible(ressourcesNeeded) {
      for (let ressourceName in ressourcesNeeded) {
        let currentValue = ressourcesNeeded[ressourceName]
        if (!(this.ressources[ressourceName] + currentValue >= 1 || ressourceName == "popularity")) {
          this.$emit('notify', 'You can’t. Not enough ' + [ressourceName] + '.');
          return false
        }
      }
      return true;
    },

    updateRessources(updatedRessources) {
      for (let property in updatedRessources) {
        this.ressources[property] += updatedRessources[property];
      }

    },

  }
}
</script>


<style scoped>


.gray{
  opacity: 0.5;
}

.hide{
  display: none!important;
}

.hide1{
  display: none!important;
}

</style>
