<template>
  <div class="artwork">
    <div class="name">{{artworkRecord.name}}</div>
    <footer>
      <div class="eval-box">
        <span class="star" v-for="n in artworkRecord.eval">★</span>
        <span class="star-off" v-for="n in evalMax - artworkRecord.eval">★</span>
      </div>


      <button class="small" name="document"
        v-bind:class="{ hide : achievements.nbArtworkCreated < 2, hide1 : hasBeenShared} "
        v-on:click.once="share()">
        Share it
      </button>

      <button class="small"
      v-on:click="sell()"
      v-bind:class="[achievements.nbExhibitionVisited > 1 ? '' : 'hide'] ">
      Sell</button>


      <button
      class="small"
      v-on:click="destroy()"
      v-bind:class="[achievements.badArtworkedShared > 0 ? '' : 'hide'] ">

      Destroy</button>

      <button class="small" v-on:click="archive()"
      v-bind:class="[achievements.nbArtworkDocumented > 0 ? '' : 'hide'] "
      >Archive</button>



    </footer>
  </div>
</template>

<script>

export default {
  name:"artwork",
  props: ['artworkRecord','evalMax', 'actionProperties', 'achievements', 'ressources'],
  data: function() {
    return {
      hasBeenShared: false
    }
  },
  methods:{
    share(){
      if (this.checkIfPossible(this.actionProperties.share.loss)) {
        this.hasBeenShared = true;
        this.updateRessources(this.actionProperties.share.loss);
        this.achievements.nbArtworkedShared++;


        if (this.artworkRecord.eval < this.evalMax/2) {
          // this.actionProperties.share.gain
          this.$emit('notify', 'The artwork that you shared is not so great. Mayby next time, don\'t ?' );
          this.achievements.badArtworkedShared++;
        } else{
          this.updateRessources(this.actionProperties.share.gain);
          this.$emit('notify', 'Cool');
        }

        // this.$emit('notify', 'You shared it with friends and family. They don\'t really understand, but are still proud');
      }

    },

    sell: function() {
      this.$emit("sell")
    },
    destroy: function() {
      this.$emit("destroy")
    },
    archive: function() {
      this.$emit("archive")
    },
    checkIfPossible(ressourcesNeeded) {
      for (let ressourceName in ressourcesNeeded) {
        let currentValue = ressourcesNeeded[ressourceName]
        if (!(this.ressources[ressourceName] + currentValue >= 1 || ressourceName == "popularity")) {
          this.$emit('notify', 'You can’t. Not enough ' + [ressourceName] + '.');
          return false
        }
      }
      return true;
    },

    updateRessources(updatedRessources) {
      for (let property in updatedRessources) {
        this.ressources[property] += updatedRessources[property];
      }

    }
  }
}
</script>

<style scoped>
.artwork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  height: 240px;
  border:1px solid DarkViolet;
  padding: var(--p);
  font-size: var(--s);
  margin: 5px;
}
footer {
  align-self: flex-end;
  width: 100%;
  font-size: var(--s);
}
footer {
  align-self: flex-end;
  width: 100%;
  font-size: var(--s);
}
.eval-box {
  font-size: var(--s);
}
.star-off {
  opacity: 0.2;
}


.hide{
  display: none!important;
}


.hide1{
  display: none!important;
}
</style>
