<template>
<div class="whole-screen" v-bind:class="{ visible: gameState.settingProfile}">
  <div class="profile-setting-box container b12 box" v-bind:class="{ visible: gameState.settingProfile}">
    <p class="b11 box">
      How much of a cis white man are you ?
    </p>
    <div class="input-range-container b11 box">
      <input class="b23 box" type="range" min="0.01" max="1" step="0.01" v-model="profile.levelOfPrivilege" />
      <span class="b13 box">
        {{Math.round(profile.levelOfPrivilege*100)}}%
      </span>
    </div>

    <button type="button" name="confirm" class="b12 box" v-on:click="setProfile()">
      ok
    </button>

    <!-- {{profile.personalityType}} -->


  </div>
</div>
</template>



<script>
export default {
  name: "profileCreation",
  components: {},
  props: ['profile', 'gameState', 'ressources'],
  data: function() {
    return {}
  },
  methods: {
    setProfile() {
      // make box disapear after ok is pressed

      this.gameState.settingProfile = false;
      for (let property in this.ressources) {
        if (property != 'inspiration') {
          this.ressources[property] *= this.profile.levelOfPrivilege;
        }
      }
      let personalityTypes = ['introvert', 'extravert'];
      this.profile.levelIntroExtraVert = getRandomArbitrary(0.5, 1.5); // 0.5 is introvert, 1.5 extravert
      this.$emit("adjustForIntroExtraVert");
      this.gameState.paused = false;


      function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
      }
    }
  }
}
</script>


<style scoped>
.whole-screen.visible {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 255, 127, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.whole-screen {
  display: none;
}

span {
  text-align: center
}

.input-range-container {
  display: flex;
  align-items: center
}

.profile-setting-box.visible {
  display: flex;
  justify-content: flex-end;
}

.profile-setting-box {
  display: none;
  border: 1.5px solid Gold;
  background-color: white;
  opacity: 1;
}

.profile-range {
  cursor: pointer;
}

button{
  color: DeepPink;
}
</style>
