<template>
  <div class="artwork-box box b24 container">
    <form
      class="box b11 container nopadding form"
      v-on:submit.prevent="sendPublish(artwork)"
    >
      <input
        class="artwork-input box b34"
        v-model="artwork"
        :maxlength="artworkLengthLimit"
        v-on:input="create(artwork)"
        v-on:focusin="startFocus()"
        v-on:focusout="stopFocus()"
        required
      />
      <button class="box b14" name="publish" type="submit">Create</button>
    </form>
    <div class="box b11 artwork-list container nopadding-side">
      <Artwork
        v-for="(item, index) in artworkList"
        v-bind:eval-max="evalMax"
        v-bind:achievements="achievements"
        v-bind:action-properties="actionProperties"
        v-bind:ressources="ressources"

        :id="'id-' + index"
        :artwork-record="artworkList[index]"
        @destroy="destroy(item, index)"
        @sell="sell(item, index)"
        @archive="archive(item, index)"
        @notify="notify"
      ></Artwork>
    </div>
  </div>
</template>

<script>
import Artwork from './Artwork.vue'

export default {
  name:"workshop",
  components: {
    Artwork,
  },
  props: ['artworkList', 'artworkLengthLimit', 'ressources','actionProperties','evalMax', 'interval', 'gameState', 'achievements'],
  data: function() {
    return {
      artwork: '',
      intervalFocus: 2,
      intervalFocusObj : null
    }
  },
  methods:{
    startFocus(){
      this.gameState.isFocusing = true;
    },
    stopFocus(){
      this.gameState.isFocusing = false;
    },
    create: function(artwork) {

    },
    sell: function(item, index) {
      this.$emit("sell",item, index)
    },
    destroy: function(item, index) {
      this.$emit("destroy",item, index)
    },
    archive: function(item, index) {
      this.$emit("archive",item, index)
    },
    sendPublish(artwork){
      this.$emit("publish", artwork)
      this.artwork=""
    },
    checkIfPossible(ressourcesNeeded) {
      for (let ressourceName in ressourcesNeeded) {
        let currentValue = ressourcesNeeded[ressourceName]
        if (!(this.ressources[ressourceName] + currentValue >= 1 || ressourceName == "popularity")) {
          this.$emit('notify', 'You can’t. Not enough ' + [ressourceName] + '.');
          return false
        }
      }
      return true;
    },
    notify(message){
      this.$emit('notify', message)
    }
  }
}
</script>

<style scoped>
.form {
  width: 100%;
}
.form input {
  padding: 5px 10px;
  width: 80%;
  border:1px solid LimeGreen;
}
.form button {
  padding: 5px 10px;
  width: 20%;
  background: #fff;
  border:1px solid LimeGreen;
  border-left:0;
}
.publication-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artwork-list{
  justify-content: start;

}

</style>
