<template>
<div id="app" class="container" v-bind:class="{ over: gameState.gameOver, resting: gameState.resting, paused: gameState.paused}">
  <div class="box notif-box">{{ notifMessage }}</div>
  <div class="gameover-box">Game Over</div>

  <div class="resting-box" v-on:click="rest()">Resting…</div>
  <div class="paused-box" v-bind:class="{ hide: gameState.dev}" v-on:click="pause()">||</div>
  <button class="small"name="rest" v-on:click="rest()">
    Rest
  </button>
  <button class="small" name="pause" v-on:click="pause()">
    Pause / play
  </button>

  <ProfileCreation
  v-bind:ressources="ressources"
  v-bind:profile="profile"
  v-bind:game-state="gameState"
  @adjustForIntroExtraVert="adjustForIntroExtraVert"
  v-bind:class="{ hide: gameState.dev}"
>
  </ProfileCreation>

  <div class="">
    dev mode: {{gameState.dev}}
  </div>

  <section class="header container">
    <p class="inspiration-counter">Score:
      <animated-number :value="ressources.score" :round="1" />
    </p>
    <p class="money-counter">Time: {{ressources.time}}</p>
    <p class="inspiration-counter">Inspiration:
      <animated-number :value="ressources.inspiration" :round="1" />
    </p>
    <p class="energy-counter" type="number">Energy:
      <animated-number :value="ressources.energy" :round="1" />
    </p>
    <p class="money-counter">Money:
      <animated-number :value="ressources.money" :round="1" />
    </p>
    <p class="popularity-counter">Popularity:
      <animated-number :value="ressources.popularity" :round="1" />
    </p>

  </section>
  <Workshop
  v-bind:ressources="ressources"
  v-bind:artwork-list="artworkList"
   v-bind:artwork-length-limit="artworkLengthLimit"
   v-bind:eval-max="evalMax"
   v-bind:interval="interval"
   v-bind:game-state="gameState"
   v-bind:achievements="achievements"
   v-bind:action-properties="actionProperties"
   @notify="notify"
   @publish="publish"
   @sell="sell"
   @destroy="destroy"
   @archive="archive">

  </Workshop>

  <Actions
  v-bind:action-properties="actionProperties"
  v-bind:achievements="achievements"
  v-bind:ressources="ressources"
  v-bind:profile="profile"
  v-bind:artwork-list="artworkList"
  v-bind:game-state="gameState"
  v-bind:interval="interval"
  @notify="notify"
  >

  </Actions>

  <Achievements  v-bind:achievements="achievements" v-bind:nb-of-achievements="nbOfAchievements">

  </Achievements>



<!--

  <details class="box b11 debug container">
    <summary>Debug</summary>
    <div class="container ">
      <div class="box b12">
        <p>Ideal piece</p>{{crit}}
      </div>
      <div class="box b12">
        <p>Time interval</p>
        <input v-model="interval" v-on:change="updateInterval(interval)" type="range" min="1" max="2000" value="1000">
        <span> {{interval}}ms</span>
      </div>
    </div>
  </details> -->
</div>
</template>

<script>
import ProfileCreation from './components/ProfileCreation.vue'
import Workshop from './components/Workshop.vue'
import Actions from './components/Actions.vue'
import Achievements from './components/Achievements.vue'
import AnimatedNumber from "animated-number-vue"

export default {
  name: 'app',
  components: {
    Workshop,
    AnimatedNumber,
    Actions,
    Achievements,
    ProfileCreation
  },
  data: () => ({
    actionProperties: {
      residency: {
        locked: true,
        timeBeforeAnswer: 10,
        applicationObjArray: [],
        loss: {
          inspiration: -10,
          energy: -75,
          money: 0,
          popularity: 0
        },
        gain: {
          inspiration: 0,
          energy: 0,
          money: 500,
          popularity: 50,
          score: 100
        }
      }, portfolio: {
        locked: true,
        loss: {
          inspiration: -10,
          energy: -175,
          money: 0,
          popularity: 0
        },
        gain: {
          inspiration: 0,
          energy: 0,
          money: 0,
          popularity: 100,
          score: 300
        }
      },
      visitExhibition: {
        locked: true,
        loss: {
          inspiration: 0,
          energy: 15,
          money: 10,
          popularity: 0
        },
        gain: {
          inspiration: 30,
          energy: 0,
          money: 0,
          popularity: 0,
          score: 30
        }
      },
      share: {
        locked: false,
        loss: {
          inspiration: 0,
          energy: -5,
          money: 0,
          popularity: 0
        },
        gain: {
          inspiration: 15,
          energy: 0,
          money: 0,
          popularity: 15,
          score: 100
        }
      },
      networking: {
        locked: true,
        loss: {
          inspiration: 0,
          energy: -15,
          money: -5,
          popularity: 0
        },
        gain: {
          inspiration: 0,
          energy: 10,
          money: 0,
          popularity: 20,
          score: 20
        }
      },
      exhibition: {
        locked: true,
        loss: {
          inspiration: 5,
          energy: -45,
          money: 0,
          popularity: 40
        },
        gain: {
          inspiration: 0,
          energy: 0,
          money: 30,
          popularity: 40,
          score: 70
        }
      },
      document: {
        locked: true,
        loss: {
          inspiration: 0,
          energy: -45,
          money: -2,
          popularity: 0
        },
        gain: {
          inspiration: 0,
          energy: 0,
          money: 0,
          popularity: 5,
          score: 5
        }
      },
      teaching: {
        locked: true,
        interval: 10,
        intervalObjArray: [],
        loss: {
          inspiration: 0,
          energy: -15,
          money: 0,
          popularity: 0
        },
        gain: {
          inspiration: 5,
          energy: 0,
          money: 100,
          popularity: 10,
          score: 115
        }
      }
    },
    profile: {
      levelOfPrivilege: 0.5,
      levelIntroExtraVert: 1
    },
    ressources: {
      money: 1000,
      energy: 1000,
      time: 0,
      score: 0,
      inspiration: 46,
      popularity: 100,
    },
    nbOfAchievements: 0,
    achievements: {
      nbArtworkCreated: 0,
      nbArtworkSold: 0,
      nbArtworkDocumented: 0,
      nbArtworkDestroyed: 0,
      nbArtworkArchived: 0,
      nbExhibitionVisited: 0,
      nbOfSchoolsWereYouAreTeaching: 0,
      nbOfExhibition: 0,
      nbOfContacts: 0,
      nbOfResidencyApplication: 0,
      nbOfResidencyGranted: 0,
      nbArtworkedShared: 0,
      badArtworkedShared: 0,
      portfolio: 0
    },
    artworkList: [],
    interval: 1000,
    notifMessage: '',
    gameState: {
      settingProfile: true,
      resting: false,
      gameOver: false,
      paused: true,
      isFocusing: false,
      dev: false,
    },
    crit: {
      length: 0,
      hasCaps: 0,
      hasSpace: 0,
      hasSpecial: 0,
    },
    artworkLengthLimit: 100,
    evalMax: 8,
  }),
  created() {
    this.timer = setInterval(this.tick, this.interval);
    window.addEventListener('blur', this.pauseWhenInactive);
  },
  mounted() {
    this.generateIdealPiece()
  },
  methods: {
    pauseWhenInactive(){
      this.gameState.paused = true;
      console.log("window event");
    },
    tick() {
      if (!this.gameState.paused) {

        let artworkList = this.artworkList
        if (this.gameState.gameOver == false) {
          this.ressources.time++
          if (this.ressources.time % 2 == 0) this.ressources.money--
          if (this.ressources.time % 2 == 0) this.ressources.score++
          if (this.ressources.time >= 1000 || this.ressources.money == 0) {
            this.gameState.resting = false
            this.gameState.gameOver = true
            clearInterval(this.timer)
          }
          if (this.gameState.resting) {
            this.updateRessources({
              energy: 5,
              inspiration: 1,
              popularity: -1
            })
          }

          if (this.gameState.isFocusing) {
            if (this.ressources.time % 2 == 0) {
              let inputBox = document.querySelector('.artwork-input');
              if(this.checkIfPossible({energy: -1})){
                this.updateRessources({energy: -1})
              } else {
                document.querySelector('.artwork-input').blur();
                this.notify('No more creating for you, you need to rest first.');

            }

              // inputBox.blur();
            }
          }


          // automaticly sell stuff
          // if (this.ressources.popularity >= 20 && artworkList.length > 0) {
          //   for (var i = 0; i < artworkList.length; i++) {
          //     let artwork = artworkList[i]
          //     if (artwork.eval >= 4) {
          //       this.sell(artwork, i)
          //     }
          //   }
          // }
        }
      }
    },
    adjustForIntroExtraVert(){
      // if extravert
      if (this.profile.levelIntroExtraVert > 1 ) {
        this.actionProperties.networking.loss.energy = 0;
        this.actionProperties.networking.gain.energy *= Math.round(1/this.profile.levelIntroExtraVert);
      }
      // if introvert
      if (this.profile.levelIntroExtraVert < 1 ){
        this.actionProperties.networking.gain.energy = 0;
        this.actionProperties.networking.loss.energy *= Math.round(1/this.profile.levelIntroExtraVert);

      }
    },
    updateInterval(oldInterval) {
      const that = this
      clearInterval(that.timer)
      that.timer = setInterval(that.tick, that.interval)
    },
    notify(message) {
      this.notifMessage = message
      const that = this
      setTimeout(function() {
        that.notifMessage = ''
      }, 7000)
    },
    generateIdealPiece() {
      this.crit.length = this.randomInteger(3, this.artworkLengthLimit)
      this.crit.hasCaps = this.randomInteger(0, 1)
      this.crit.hasSpace = this.randomInteger(0, 1)
      this.crit.hasSpecial = this.randomInteger(0, 1)
    },
    randomInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
    publish(artwork) {
      let loss = {
        inspiration: -15,
        energy: -20,
        money: -20
      };
      let gain = {
        popularity: 2
      };

      if (this.checkIfPossible(loss)) {
        this.updateRessources(loss);
        this.updateRessources(gain);
        const artworkName = artwork.substring(0, 5) + '…'
        const artworkContent = artwork
        const artworkRecord = {
          name: artworkName,
          content: artworkContent,
          eval: this.evalMax,
        }
        this.artworkList.push(artworkRecord);
        this.achievements.nbArtworkCreated++;
        // this.nbOfAchievements++;
        artworkRecord.eval = this.checkArtwork(artworkContent)
        this.notify('You’ve commited an artwork!')
      }
    },
    sell(artwork, artworkIndex) {
      var artworkEval = artwork.eval
      var price = artworkEval * 50

      let loss = {
        energy: -10
      };
      let gain = {
        popularity: 100,
        money: price
      };

      if (this.checkIfPossible(loss)) {
        this.updateRessources(loss);
        this.updateRessources(gain);
        this.artworkList.splice(artworkIndex, 1);
        this.achievements.nbArtworkSold++;

        this.notify("You just sold " + artwork.name + " for " + price + "$! Let’s celebrate!")
      }
    },
    destroy(artwork, artworkIndex) {
      let loss = {
        energy: -10
      };

      if (this.checkIfPossible(loss)) {
        this.updateRessources(loss);
        this.artworkList.splice(artworkIndex, 1);
        this.achievements.nbArtworkDestroyed++;

        this.notify('You just destroyed your artwork. Now take a chill pill…')
      }

    },
    archive(artwork, artworkIndex) {
      let loss = {
        energy: -10
      };

      if (this.checkIfPossible(loss)) {
        this.updateRessources(loss);
        this.artworkList.splice(artworkIndex, 1);
        this.achievements.nbArtworkArchived++;

        this.notify('You just archived your artwork. Clever.')
      }
    },
    checkIfPossible(ressourcesNeeded) {
      for (let ressourceName in ressourcesNeeded) {
        let currentValue = ressourcesNeeded[ressourceName];
        if (!(this.ressources[ressourceName] + currentValue >= 1 || ressourceName == "popularity")) {
          this.notify('You can’t. Not enough ' + [ressourceName] + '.');
          return false
        }
      }
      return true;
    },
    updateRessources(updatedRessources) {
      for (let property in updatedRessources) {
        this.ressources[property] += updatedRessources[property];
      }
    },


    checkArtwork(artwork) {
      let diffLength = Math.abs(artwork.length - this.crit.length)
      let artworkHasCaps = artwork.toLowerCase() != artwork
      let diffCaps = artworkHasCaps == this.crit.hasCaps
      let artworkHasSpace = artwork.indexOf(' ') >= 0
      let diffSpace = artworkHasSpace == this.crit.hasSpace
      const patt = /[^A-Za-z0-9]/gm
      let artworkHasSpecial = patt.test(artwork)
      let diffSpecial = artworkHasSpecial == this.crit.hasSpecial
      const evalLength10 =
        ((this.crit.length - diffLength) * this.evalMax) / this.crit.length
      const ev =
        (diffSpecial * this.evalMax +
          diffSpace * this.evalMax +
          diffCaps * this.evalMax +
          evalLength10) / 4
      return Math.round(ev)
    },

    rest() {
      this.gameState.resting = !this.gameState.resting;
      if (this.gameState.resting) {
        this.$emit('notify', 'Peacefulness is inspiring… Any action will break this tranquility.')
      } else {
        this.$emit('notify', 'Break is over, back to work.')
      }
    },

    pause() {
      this.gameState.paused = !this.gameState.paused
    },

  },
}
</script>
<style scoped>
@import './utils.css';

#app {
  padding-top: calc(var(--p) * 3);
  font-size: 1.5em;
}

.hide{
  display: none!important;
}

.header {
  width: 100%;
}

.notif-box:empty {
  opacity: 0;
}

.notif-box {
  transition: all 0.2s linear;
  opacity: 1;
  color: tomato;
  border: 1px solid;
  border-top: 0;
  margin: 0 calc(var(--p)*2);
  padding: 0 var(--p);
  position: fixed;
  background: white;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.gameover-box{
  display: none;
}

.over .gameover-box {
  display: flex;
}

.gameover-box{
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}

.gameover-box {
  background: rgba(255, 0, 0, 0.8);
}


.debug {
  font-size: .5em;
  background: #eee;
}

.action-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.resting-box, .paused-box {
  display: none;
}

.resting .resting-box, .paused .paused-box {
  display: flex;
}

.resting-box, .paused-box {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}

.resting-box {
  background-color: rgba(230, 230, 250, 0.7);
  color: MediumSlateBlue;
}

.paused-box {
  background-color: rgba(230, 230, 250, 0.7);
  color: MediumSlateBlue;
}

input[type=range] {
  appearance: none;
  height: 1px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
}

input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
</style>
