html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,p,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}input[type=text],textarea{width:100%}button,input,textarea{border:1px solid gray}button{padding:.75em 1em;border-radius:0;line-height:1;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,svg,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none!important}noscript{display:block;margin-bottom:1em;margin-top:1em}

:root {
  --p: 20px;
  --s: 0.8em;
}

section {
  margin-bottom: var(--p);
}

button.small {
  padding: 5px 15px;
  font-size: 0.5em;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: 'fira sans';
  border:1px solid OrangeRed;
  margin: 1px;
}

input{
  cursor: pointer;
}

/* Cute little modular system */

.container {
  display: flex;
  flex-wrap: wrap;
  padding: var(--p);
  justify-content: space-between;
}


.action-box {
  align-items: flex-start;
}
.nopadding-side {
  padding-right: 0;
  padding-left: 0;
}
.nopadding {
  padding: 0;
}
.b11 {
  width: 100%;
}
.b12,
.b24 {
  width: 50%;
}
.b13 {
  width: calc(33.33% - var(--p) / 2);
}
.b23 {
  width: 66.66%;
}
.b14 {
  width: 25%;
}
.b34 {
  width: 75%;
}
